* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 500px;
}

.title {
  text-align: center;
}

/* GENERAL BUTTON STYLE */
.btn {
  width: 90px;
  height: 30px;
  outline: none;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  cursor: pointer;
}



.mlr-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mb-40 {
  margin-bottom: 40px;
}


.ptb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
